<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoaA0_zmJs2Y_1VekhTR2PXnSOqKSTw7I</string>
	<key>GCM_SENDER_ID</key>
	<string>678158787297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.saxovat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>saxovat-26672</string>
	<key>STORAGE_BUCKET</key>
	<string>saxovat-26672.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678158787297:ios:2536853125b6974bab0da0</string>
</dict>
</plist>